:root {
    --dark: #555B6E;
    --blgr: #89B0AE;
    --ltblgr: #BEE3DB;
    --light: #FAF9F9;
    --pop:#FFD6BA;
}

body {
    background: var(--light);
    color: var(--dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}



.header {
    background: linear-gradient(var(--ltblgr), var(--blgr));
    color: var(--dark);
    height: 75px;
    display: flex;
}

.header h1 {
    margin: auto;
    font-weight:500;
    font-variant: small-caps;
}

.custom-main {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1%;
}

.card-search-custom {
    background: var(--pop);
    color: var(--dark);
    font-weight:bold;
    border-radius: 5px;
}

.btn-custom {
    background: linear-gradient(var(--ltblgr), var(--blgr));
    color:var(--dark);
}

.btn-city-custom {
    background: var(--dark);
    color: var(--light);
}

hr {
    width:90%;
}

.container-weather-display {
    background: var(--dark);
    padding: 15px;
    border-radius: 5px;
    width: 70%;
}

.custom-today {
    background: var(--light);
    line-height: 0.75;
    font-size: smaller;
    border-radius: 5px;
    padding-left: 10px;
}

.header-forecast {
    color: var(--pop);
    padding-top:25px;
    padding-bottom: 0px;

}
.futurecast {
    display:flex;
    flex-direction:column;
    justify-content:center;

    background: linear-gradient(var(--ltblgr),var(--blgr));
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    line-height: 0.5;
    font-size:x-small;
}